<!DOCTYPE html>
<html>
  <head>
    <title>Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
	<div class="container">
    <div class="header">
      <h3>Tasks App</h3>
      <div class="top-buttons">
          <form action="{{ url_for('tasks') }}" method="get">
              <button class="btn btn-primary">Go to tasks</button>
          </form>
          <form action="{{ url_for('logout') }}" method="get">
              <button class="btn btn-primary">Log out</button>
          </form>
      </div>
    </div>
		<h1>Analysis</h1>
    <h3 class="analysis-title">Latencies of tasks completed after their deadlines</h3>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Latency</th>
        </tr>
      </thead>
      <tbody>
        {% for lat in latencies %}
          <tr>
            <td>{{lat.title}}</td>
            <td>{{lat.latency}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 class="analysis-title">Average task completion time</h3>
    <p>{{average_completion.average}}</p>

    <h3 class="analysis-title">Number of the completed tasks per task type</h3>
    <table>
      <thead>
        <tr>
          <th>Task type</th>
          <th>Number of tasks</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_counts %}
          <tr>
            <td>{{task.task_type}}</td>
            <td>{{task.count}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    

    <h3 class="analysis-title">Title and deadline of uncompleted tasks</h3>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        {%  for unc in uncompleted %}
          <tr>
            <td>{{unc.title}}</td>
            <td>{{unc.deadline}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 class="analysis-title">Title and task completion time of the top 2 completed tasks that took the most time</h3>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Completion time</th>
        </tr>
      </thead>
      <tbody>
        {%  for task in top_completions %}
          <tr>
            <td>{{task.title}}</td>
            <td>{{task.completion_time}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
        
	</div>
  </body>
</html>

